
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  transition: background-color 0.3s ease, color 0.3s ease;
}


button{
    transition: 0.3s;
}
button:hover{
    transform: scale(1.15);
}
button:active{
    transform: scale(0.85);
}
